{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
<style>
audio {
            width: 100%;
            max-width: 400px;
            margin: 20px 0;
            border: 2px solid #3498db;
            border-radius: 8px;
            background-color: #ecf0f1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;
        }

        audio:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        /* Стилизация элементов управления audio (play, pause, volume и т. д.) */
        audio::-webkit-media-controls-panel {
            background-color: #3498db;
            border-radius: 8px;
        }

        /* Стилизация временной шкалы проигрывания audio */
        audio::-webkit-media-controls-timeline {
            background-color: #fff;
        }

        /* Стилизация текста, отображаемого в случае неподдержки аудио */
        audio::after {
            content: "Your browser does not support the audio element.";
            display: block;
            margin-top: 10px;
            color: #e74c3c;
        }
    </style>
<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Blog</a>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__item">
                            <div class="blog__details__item__text">
                                <h3>{{ musics.title }}</h3>
                                <p>{{ musics.public_date }}</p>
                                {% if musics.group %}
                                    <p>{{ music.group }}</p>
                                {% endif %}
                                <audio id="audioPlayer" controls>
                                    <source src="{{musics.music.url}}" type="audio/mp3">
                                </audio>
                                {% for genre_name in musics.genre.all %}
                            <span>{{genre_name.name}}</span>
                            {% endfor %}
                            </div>
                            <div class="blog__details__tags">
                                {% for singer in musics.singer.all %}
                                    <a href="#"><h6>{%if singer.first_name%}
                                                {{ singer.first_name }}
                                                {{ singer.last_name }}
                                                {% else %}
                                                {{ singer.nickname }}
                                                {% endif %}</h6></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="blog__details__desc">
                            <p style="width: 300px; margin: -100 auto;">
                                {{musics.text_song}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}