

{% extends 'base.html' %}

{% load static %}
{% block content %}

<html>
  <head>
    <meta charset="utf-8">
    <title> Registration </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="{% static 'fonts_register/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'css_register/style.css' %}">
  </head>

  <body>

    <div class="wrapper">
      <div class="inner">
        <form action="" method="post">
          <h3>Registration</h3>
          {% csrf_token %}


          <div class="form-wrapper">
            {{ form.username }}
          </div>
          <div class="form-wrapper">
            {{ form.email }}
          </div>

          <div class="form-wrapper">
            {{ form.password1 }}
          </div>

          <button>Sign in</button>
        </form>
        <div class="image-holder">
          <img src="{% static 'img_register/registration-form-5.jpg' %}" alt="">
        </div>
      </div>
    </div>

    <script src="{% static 'js_register/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js_register/main.js' %}"></script>
  <br>
    <br>
    <br>

  </body>
</html>

{% endblock %}